# vscode settings
/.vscode/
/.idea/

# query results
/results/

# host ip
host.txt

# cache
/__pycache__/
/.pytest_cache/
/.cache/
/*/__pycache__/

# test
*.pyc

# env
/env/

# dist
/dist/
*.egg-info
/build/